@{
    ViewData["Title"] = "Home Page";
}

<!-- Lenker til index.css fra wwwroot/css/index.css -->
<link rel="stylesheet" href="~/css/index.css" />

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4 text-dark">Welcome to FlashCards AI</h1>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="h3 text-center text-dark">Create Your Own Flashcards</div>
            <p class="lead text-center mt-3 mb-4 catchPhrase">
                FlashCardsAI is the smart solution that transforms your PDF and PowerPoint files into interactive flashcards in seconds. Powered by AI, our app automatically generates questions and answers from your content, making studying and knowledge sharing easier than ever. Perfect for students, educators, and professionals – upload your files and turn complex information into dynamic, engaging flashcards!
            </p>
        </div>
    </div>

    <div class="text-center">
        <a href="/Upload/UploadFile" class="btn btn-primary btn-lg mt-3">Create a Flashcard!</a>
    </div>
</div>
